<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>

  <appSettings>
    <add key="listenPort" value="514" />
    <add key="backlogMaxAge" value="86400" />
    <add key="backlogMaxCount" value="10000" />
    <add key="backlogBulkSendCount" value="50" />
  </appSettings>
  
  <connectionStrings>
    <add name="connString" connectionString="Data Source=XXX;Initial Catalog=XXX;User ID=XXX;Password=XXX" />
  </connectionStrings>
     
</configuration>
